{
    attributes = (
        {
            columnName = "bug_id"; 
            externalType = mediumint; 
            name = bugId; 
            precision = 7; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "group_id"; 
            externalType = mediumint; 
            name = groupId; 
            precision = 7; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (bugId, groupId); 
    className = EOGenericRecord; 
    externalName = "bug_group_map"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_clientClassPropertyNames" = (); uniqueID = 196630568; }; 
    name = BugGroupMap; 
    primaryKeyAttributes = (bugId, groupId); 
    userInfo = {fetchSpecificationDictionary = {}; }; 
}
