{
    attributes = (
        {
            columnName = "product_id"; 
            externalType = smallint; 
            name = productId; 
            precision = 5; 
            valueClassName = NSNumber; 
            valueType = s; 
        }, 
        {
            columnName = sortkey; 
            externalType = smallint; 
            name = sortkey; 
            precision = 5; 
            valueClassName = NSNumber; 
            valueType = s; 
        }, 
        {
            columnName = value; 
            externalType = varchar; 
            name = value; 
            valueClassName = NSString; 
            valueType = S; 
            width = 20; 
        }
    ); 
    attributesUsedForLocking = (productId, value, sortkey); 
    className = EOGenericRecord; 
    classProperties = (productId, value, sortkey); 
    externalName = milestones; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (productId, value, sortkey); 
        uniqueID = 196630685; 
    }; 
    name = Milestones; 
    primaryKeyAttributes = (productId, value); 
    userInfo = {fetchSpecificationDictionary = {}; }; 
}
