<BR>
<TABLE BORDER=0 WIDTH=100%%>
	<TR>
		<TD ALIGN=CENTER><WEBOBJECT NAME=Image1></WEBOBJECT>
			<P><WEBOBJECT NAME=Conditional1><WEBOBJECT NAME=CollapsibleComponentContent><WEBOBJECT NAME=Form1>
							<P></P>
							<TABLE CELLPADDING=3 BORDER=1 CELLSPACING=2>
								<TR>
									<TD><FONT SIZE=2>Type</FONT></TD>
									<TD><WEBOBJECT NAME=PopUpButton1></WEBOBJECT></TD>
								</TR>
								<TR>
									<TD><FONT SIZE=2>Height</FONT></TD>
									<TD><FONT SIZE=2><WEBOBJECT NAME=TextField2></WEBOBJECT></FONT></TD>
								</TR>
								<TR>
									<TD><FONT SIZE=2>Width</FONT></TD>
									<TD><FONT SIZE=2><WEBOBJECT NAME=TextField1></WEBOBJECT></FONT></TD>
								</TR>
								<TR>
									<TD><FONT SIZE=2>Y</FONT></TD>
									<TD><FONT SIZE=2><B><WEBOBJECT NAME=TextField5></WEBOBJECT></B></FONT></TD>
								</TR>
								<TR>
									<TD><FONT SIZE=2>Y - Tics</FONT></TD>
									<TD><FONT SIZE=2><B><WEBOBJECT NAME=TextField6></WEBOBJECT></B></FONT></TD>
								</TR>
								<TR>
									<TD><FONT SIZE=2>&nbsp;</FONT></TD>
									<TD><FONT SIZE=2><WEBOBJECT NAME=SubmitButton1></WEBOBJECT></FONT></TD>
								</TR>
							</TABLE>
						</WEBOBJECT></WEBOBJECT></WEBOBJECT></P>
		</TD>
	</TR>
</TABLE>
<P></P>
<BR>