<webobject name="PageWrapper">
<p align="center">
	<font size="6">Reopened<br></font>
	<font size="3"><b>Release:</b>&nbsp;
	<webobject name="String2"></webobject></font>
	<br><webobject name="String3"></webobject>
</p>
	<webobject name="Form1">
		<table align="center" border="0">
			<tr>
				<td align="right" colspan=2>
				<webobject name="RadioButtonMatrix">
					<webobject name="String1"></webobject>&nbsp;
				</webobject>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;<webobject name="TextField1"></webobject>
					 days&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					 <webobject name="CheckBox1"></webobject> Distinct
					 <webobject name="SubmitButton1"></webobject>
					 
				</td>
			</tr>
			</table>
			
		</webobject>
		<center><webobject name="ReportListWrapper"></webobject></center>
</webobject>