<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
	<head>
        <title>Tracker - Login</title>
	</head>
   <webobject name="BodyContainer">
      <webobject name="LoginForm">
         <center>
            <br>
            <font size="7">Tracker</font><br>
            <p></p><br>
            <table border="0" cellpadding="4" cellspacing="2">
               <tr valign="middle">
                  <td align="center"><b><font size="3" color="RED"><webobject name="String1"></webobject></font></b></td>
               </tr>
               <tr>
                  <td>
                     <table border="0" cellpadding="2" cellspacing="0">
                        <tr>
                           <th align="right">Username: </th>
                           <td align="right">
                              <webobject name="UsernameField"></webobject>
                           </td>
                        </tr>
                        <tr>
                           <th align="right">Password: </th>
                           <td align="right">
                              <webobject name="PasswordField"></webobject>
                           </td>
                        </tr>
                        <webobject name="AssistantConditional"></webobject>
                        <tr>
                           <td colspan="2" align="right"> <br>
                              <webobject name="LoginButton"></webobject>
                           </td>
                        </tr>
                     </table>
                  </td>
               </tr>
            </table>
            <br>
         </center>
      </webobject>
   </webobject>
</html>
