

<table border="0" width="100%">
	<tr>
		<td align="left" bgcolor="#cccccc" valign="top" width="175">
			<font size="2"><b>Project</b>:&nbsp;<webobject name="String8"></webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink2">Find/Fix</webobject><br>
                &nbsp;&nbsp;<webobject name="Hyperlink13">Priority 1&amp;2 Find/Fix</webobject><br>
                &nbsp;&nbsp;<webobject name="Hyperlink8">Top Issues</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink17">Reopened</webobject><br>
    			<b>Support</b><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink21">Escalation Queues</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink5">Submit Escalation</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink26">Support Escalations</webobject><br>
    			<b>Release</b><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink32">Release Plan</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink20">Release Report</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink15">Release Notes</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink16">Recent</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink7">Release Overview</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink11">Release Roadmap</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink19">Story Priorities</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink12">Priorities List</webobject><br>
    			<b>Customer</b><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink27">Top Customer Issues</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink30">Top SE/Sales Issues</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink24">Customer Issues</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink18">Taser Report</webobject><br>
    			<b>Other</b><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink9">OCM Report</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink4">Automation Queues</webobject><br>&nbsp;&nbsp;<webobject name="Hyperlink29">Work Products</webobject><br><br>
			<webobject name="Conditional11">
    			<b>Kev's</b><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink6">TestPage</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink28">Backlog Tracker</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink22">Security Issues</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink23">Release Note</webobject><br>
    			&nbsp;&nbsp;<webobject name="Hyperlink25">New Story</webobject><br></webobject></font>

         </td>
		<td width=25></td>


		<td align="left" valign="top">
    		<table border=0 align="left" valign="CENTER" border="0">
        		<tr ALIGN=CENTER><td>
        			<webobject name="Form1">
        				<webobject name="Browser1"></webobject>&nbsp;&nbsp;&nbsp;
                        <webobject name="Browser2"></webobject> &nbsp; &nbsp;<br><br>
                        <webobject name="CheckboxMatrix"><font size="1"><webobject name="String1"></webobject></font></webobject><br><br>
						<webobject name="PopUpButton1"></webobject>&nbsp;&nbsp;<webobject name="SubmitButton1"></webobject><p></p>
        			</webobject>
    			</td><td></td></tr>
        		<tr>
    				<td>&nbsp;</td>
    			</tr>

    			<webobject name="Conditional5">
    				<tr>
    					<td align="center" valign="middle"><webobject name="ExclamationImage"></webobject>&nbsp;<b>No matching records found.</b></td><td></td>
    				</tr>
    			</webobject>

            	<tr align=center>
            		<td><webobject name="Conditional4">
            			<table align="CENTER" border="0">
            				<tr>
            					<td><font size="1"></font><font size="2"><webobject name="Hyperlink1">Report</webobject> | <webobject name="Hyperlink3">List</webobject></font></td>
            				</tr>
            			</table>
            			<table border="0">
            				<tr>
            					<td align="CENTER" bgcolor="#cccccc"><font size="4"><b><webobject name="String3"></webobject></td>
            				</tr>
            				<tr>
            					<td><webobject name="Conditional1">
            							<webobject name="PROJECTLIST"></webobject>
            						</webobject>
            						<webobject name="Conditional2">
            						<table border="1">
            							<tr>
            								<td><webobject name="priorityState"></webobject></td>
            							</tr>
            							<tr>
            								<td align="LEFT"><webobject name="componentState"></webobject></td>
            							</tr>
            						</table>
            						</webobject>
            						<webobject name="Conditional3">
            							<webobject name="ESTIMATEACTUAL"></webobject>
            						</webobject></td>
            				</tr>
            				<tr>
            					<td>&nbsp;</td>
            				</tr>
            				<tr>
            					<td align="CENTER"><webobject name="Conditional6"><webobject name="ActiveImage1"></webobject></webobject></td>
            				</tr>
            			</table>
            			</webobject>
            		</td>
            		<td valign="TOP">
                        <br>
                        <webobject name="Conditional10"><webobject name="Conditional7"><p></p>
            			<table border="0" cellpadding="3" cellspacing="3" bgcolor="#808080" align="CENTER">
            				<tr bgcolor="#ffffff">
            					<th bgcolor="#ffffff"><font size="2">Description</font></th>
            					<th bgcolor="#dddddd"><font size="2">Value</font></th>
            				</tr>
            				<tr bgcolor="#ffffff">
            					<td align="CENTER" bgcolor="#dddddd"><font size="2">Items In Triage</font></td>
            					<td align="CENTER"><font size="2"><webobject name="Conditional8"><webobject name="Hyperlink10"><webobject name="String6"></webobject></webobject></webobject><webobject name="Conditional9"><webobject name="String13"></webobject></webobject></font></td>
            				</tr>
            				<tr bgcolor="#ffffff">
            					<td align="CENTER" bgcolor="#dddddd"><font size="2">Defects</font></td>
            					<td><font size="2"><webobject name="String7"></webobject>% complete</font></td>
            				</tr>
            				<tr bgcolor="#ffffff">
            					<td align="CENTER" bgcolor="#dddddd"><font size="2">Resolved Defects</font></td>
            					<td align="CENTER"><font size="2"><webobject name="Hyperlink14"><webobject name="String4"></webobject></webobject></font></td>
            				</tr>
            			</table>
                                <br>
                            </webobject></webobject><p></p>
            		</td>
            	</tr>
            </table><p></p>

		</td>
	</tr>
</table>



