<html>
    <head></head>
    <body>
        <table align="center" cellspacing="5" cellpadding="5" border="0">
            <webobject name="ErrorPanel">
                <tr valign="top">
                    <td align="center">
                        <webobject name="ErrorTable">
                            <tr>
                                <td><b><webobject name="ErrorMessage"></webobject></b></td>
                            </tr>
                        </webobject>
                    </td>
                </tr>
            </webobject>
            <tr>
                <td><webobject name="EditingForm">
                        <table>
                            <tr valign="top">
                                <td valign="top" align="right"><table cellspacing="1" border="0" cellpadding="2">
                                        <tr>
                                            <td align="center" colspan="3"> </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" align="center">
                                                <table border="0" cellpadding="2" cellspacing="2">
                                                    <tr bgcolor="#eeeeee">
                                                        <td align="right"><font size="-1"><strong>Parent</strong></font></td>
                                                        <td>
                                                            <webobject name="Conditional5">
                                                                <webobject name="String4"></webobject></webobject></td>
                                                    </tr>
                                                    <tr bgcolor="#eeeeee">
                                                        <td align="right"><font size="-1"><strong>Summary</strong></font></td>
                                                        <td>
                                                            <webobject name="TextField1"></webobject>
                                                        </td>
                                                    </tr><tr bgcolor="#eeeeee"><td align="right"><font size="-1"><strong>Type</strong></font></td><td><webobject name="PopUpButton2"></webobject></td></tr>
                                                    <tr bgcolor="#eeeeee"><td align="right"><font size="-1"><strong>Assignee</strong></font></td><td><webobject name="PopUpButton1"></webobject></td></tr>
                                                    <tr bgcolor="#eeeeee"><td align="right"><font size="-1"><strong>CC</strong></font></td><td><webobject name="Browser1"></webobject></td></tr><tr bgcolor="#eeeeee"><td align="right" valign="middle"><font size="-1"><b>Priority</b></font></td><td align="left" valign="middle"><webobject name="PopUpButton9"></webobject></td></tr><tr bgcolor="#eeeeee"><td align="right" valign="middle"><font size="-1"><b>Severity</b></font></td><td align="left" valign="middle"><webobject name="PopUpButton4"></webobject></td></tr><tr bgcolor="#eeeeee"><td align="right" valign="middle"><font size="-1"><b>Estimate</b></font></td><td align="left" valign="middle"><webobject name="TextField2"></webobject></td></tr><tr bgcolor="#eeeeee"><td align="right"><font size="-1"><strong>Comments</strong></font></td><td><webobject name="Text1"></webobject></td></tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="3">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="center">
                                                <webobject name="CancelLink"><webobject name="CancelButton"></webobject></webobject>
                                            </td>
                                            <td align="right"> </td>
                                            <td align="left">
                                                <webobject name="SubmitChanges"></webobject>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </webobject>
                </td>
            </tr>
        </table>
    </body>
</html>